version: "3.9"

services:
  frontend:
    command: ["npm", "run", "dev", "--workspace", "frontend"]
    volumes:
      - ../apps/frontend:/app/apps/frontend
      - ../packages:/app/packages
      - /app/node_modules

  api:
    command: ["npm", "run", "start:dev", "--workspace", "backend"]
    volumes:
      - ../apps/backend:/app/apps/backend
      - ../packages:/app/packages
      - /app/node_modules

  queue-worker:
    command: ["npm", "run", "start:worker", "--workspace", "backend"]
    volumes:
      - ../apps/backend:/app/apps/backend
      - ../packages:/app/packages
      - /app/node_modules

  mailhog:
    profiles: ["dev"]


